body {
    margin: 0;
    background-color: #2F2E41;
    min-width: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 100px 100px;
}   

ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    gap: 64px
}

a {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}


.page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1092px;
    margin: auto;
}


h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 auto;
}

h1 span {
    color: #00BFA6;
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #c2c2c2;
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

p span {
    font-family: 'Open Sans', sans-serif;
    color: #00BFA6;
    font-weight: 700;
}

.line {
    width: 568px;
    height: 0px;
    margin: 360px auto 8px;
    border: 1px solid #00BFA6;
}

#cadeado {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

footer {    
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
    gap: 10px;
}

footer a {
    color: #00BFA6;
}


